.IdeaCard {
    border-radius: 5px;
    display: flex;
    height: 100%;
    flex-flow: column;
    width: 350px;
    overflow: hidden;
    padding: 0;
    margin: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    transition: all 0.3s;
}

@media (hover: hover) {
    .IdeaCard:hover {
        box-shadow: 3px 3px 10px 0 #858585, -3px -3px 10px 0 #858585;
        cursor: pointer;
    }
}

@media (max-width: 780px) {
    .IdeaCard {
        width: 100%;
    }
}

.CardHeader {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    font-family: "Google Sans",sans-serif;
    font-size: 15px;
    padding-right: 5px;
    color: black;
}

.CardFooter {
    justify-content: space-between;
    align-items: center;
}

.CardContent {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.CardContent span {
    text-align: left;
    padding-left: 10px;
}

.CardTitle {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Google Sans",sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardRating {
    font-size: 12px;
    padding-right: 10px;
}
.CardDescription {
    color: #fff;
    font-size: 10px;
    font-family: "Google Sans",sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    padding: 5px;
}

/*Other*/
.IdeaCardPersonal .CardHeader{
    background: url("https://www.gstatic.com/mobilesdk/160505_mobilesdk/discoverycards/2x/analytics.png");
    background-size: cover;
}

.IdeaCardPersonal .CardFooter {
    display: flex;background-color: #EB673E;
}

.IdeaCardPersonal .CardContent {
    border-top: 1px solid #f38b6b;
}

.IdeaCardPersonal .CardTitle {
    border-bottom: 1px solid #f38b6b;
}

/*Fun*/
.IdeaCardFun .CardHeader{
    background: url("https://www.gstatic.com/mobilesdk/171005_mobilesdk/discovery-cards-crashlytics.png");
    background-size: cover;
}

.IdeaCardFun .CardFooter {
    display: flex;background-color: #B2BF2D;
}

.IdeaCardFun .CardContent {
    border-top: 1px solid #cad45f;
}

.IdeaCardFun .CardTitle {
    border-bottom: 1px solid #cad45f;
}

/*Work*/
.IdeaCardWork .CardHeader{
    background: url("https://www.gstatic.com/mobilesdk/160505_mobilesdk/discoverycards/2x/auth.png");
    background-size: cover;
}

.IdeaCardWork .CardFooter {
    display: flex;background-color: #AB60B8;
}

.IdeaCardWork .CardContent {
    border-top: 1px solid #c57ad2;
}

.IdeaCardWork .CardTitle {
    border-bottom: 1px solid #c57ad2;
}

/*Trip*/
.IdeaCardTrip .CardHeader{
    background: url("https://www.gstatic.com/mobilesdk/180326_mobilesdk/discoverycards/performance.png");
    background-size: cover;
}

.IdeaCardTrip .CardFooter {
    display: flex;background-color: #394AA5;
}

.IdeaCardTrip .CardContent {
    border-top: 1px solid #616EB7;
}

.IdeaCardTrip .CardTitle {
    border-bottom: 1px solid #616EB7;
}

/*Education*/
.IdeaCardEdu .CardHeader{
    background: url("https://www.gstatic.com/mobilesdk/180326_mobilesdk/discoverycards/experiments.png");
    background-size: cover;
}

.IdeaCardEdu .CardFooter {
    display: flex;background-color: #515EA8;
}

.IdeaCardEdu .CardContent {
    border-top: 1px solid #6b76bf;
}

.IdeaCardEdu .CardTitle {
    border-bottom: 1px solid #6b76bf;
}

/*Other*/
.IdeaCardOther .CardHeader{
    background: url("https://www.gstatic.com/mobilesdk/160505_mobilesdk/discoverycards/2x/storage.png");
    background-size: cover;
}

.IdeaCardOther .CardFooter {
    display: flex;background-color: #23B6C9;
}

.IdeaCardOther .CardContent {
    border-top: 1px solid #41d3e7;
}

.IdeaCardOther .CardTitle {
    border-bottom: 1px solid #41d3e7;
}
